# DATA CLEANING AND DATA PREPROCESSING

# Q-1 =Print the first five rows of the dataframe and use a suitable function to extract the column names and dimension of the dataframe.

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('Building_Permits.csv', low_memory=False)
print('------------------------Print The First 5 Rows Of Dataframe------------------------')
print(df.head(n=5))
print('--------------------------Print The Columns Names-------------------------------------')
for col in df.columns:
    print(col)
dimension = df.shape
print('-----------------------Print The Dimensions-------------------------------------')
print('the dimension are:- ',dimension)

------------------------Print The First 5 Rows Of Dataframe------------------------
  Permit Number  Permit Type            Permit Type Definition Block  Lot  \
0      2.02E+11            4                      sign - erect   326   23
1      2.02E+11            4                      sign - erect   306    7
2      2.02E+11            3  additions alterations or repairs   595  203
3      2.02E+11            8            otc alterations permit   156   11
4      2.02E+11            6                       demolitions   342    1

   Street Number Street Number Suffix Street Name Street Suffix  Unit  ...  \
0            140                  NaN       Ellis            St   NaN  ...
1            440                  NaN       Geary            St   0.0  ...
2           1647                  NaN     Pacific            Av   NaN  ...
3           1230                  NaN     Pacific            Av   0.0  ...
4            950                  NaN      Market            St   NaN  ...

  Existing Units  Proposed Units  Plansets  TIDF Compliance  \
0          143.0             NaN       2.0              NaN
1            NaN             NaN       2.0              NaN
2           39.0            39.0       2.0              NaN
3            1.0             1.0       2.0              NaN
4            NaN             NaN       2.0              NaN

   Existing Construction Type  Proposed Construction Type  \
0                         3.0                         NaN
1                         3.0                         NaN
2                         1.0                         1.0
3                         5.0                         5.0
4                         3.0                         NaN

   Supervisor District  Zipcode                                   Location  \
0                  3.0  94102.0  (37.785719256680785, -122.40852313194863)
1                  3.0  94102.0   (37.78733980600732, -122.41063199757738)
2                  3.0  94109.0    (37.7946573324287, -122.42232562979227)
3                  3.0  94109.0   (37.79595867909168, -122.41557405519474)
4                  6.0  94102.0   (37.78315261897309, -122.40950883997789)

      Record ID
0  1.380000e+12
1  1.420000e+12
2  1.420000e+12
3  1.440000e+12
4  1.450000e+11

[5 rows x 25 columns]
--------------------------Print The Columns Names-------------------------------------
Permit Number
Permit Type
Permit Type Definition
Block
Lot
Street Number
Street Number Suffix
Street Name
Street Suffix
Unit
Unit Suffix
Number of Existing Stories
Number of Proposed Stories
Estimated Cost
Revised Cost
Existing Units
Proposed Units
Plansets
TIDF Compliance
Existing Construction Type
Proposed Construction Type
Supervisor District
Zipcode
Location
Record ID
-----------------------Print The Dimensions-------------------------------------
the dimension are:-  (198900, 25)

# 2Q- Extract the datatype of each column

In [2]:
result = df.dtypes
print ("The Data Type Is :-\n\n",result)

The Data Type Is :-

 Permit Number                  object
Permit Type                     int64
Permit Type Definition         object
Block                          object
Lot                            object
Street Number                   int64
Street Number Suffix           object
Street Name                    object
Street Suffix                  object
Unit                          float64
Unit Suffix                    object
Number of Existing Stories    float64
Number of Proposed Stories    float64
Estimated Cost                float64
Revised Cost                  float64
Existing Units                float64
Proposed Units                float64
Plansets                      float64
TIDF Compliance                object
Existing Construction Type    float64
Proposed Construction Type    float64
Supervisor District           float64
Zipcode                       float64
Location                       object
Record ID                     float64
dtype: object

# 3Q What is the count of the missing values in each column of the dataframe? Also find the  overall total missing values and convert it in percentage!

In [3]:
missing_count = df.isna().sum()
print('The count of the missing values is :-->\n\n',missing_count)
total_missing = missing_count.sum().sum()
print('-----------------------Print The Total Missing Count-------------------------------------\n\n')
print('The  total count of the missing values is :',total_missing,'\n')
total_rows, total_columns = df.shape
percentage = (total_missing/(total_rows*total_columns))*100
print('-----------------------Print The Percentage Of Missing Count-------------------------------------\n')
print('The percentage of missing values:-',percentage)

The count of the missing values is :-->

 Permit Number                      0
Permit Type                        0
Permit Type Definition             0
Block                              0
Lot                                0
Street Number                      0
Street Number Suffix          196684
Street Name                        0
Street Suffix                   2768
Unit                          169421
Unit Suffix                   196939
Number of Existing Stories     42784
Number of Proposed Stories     42868
Estimated Cost                 38066
Revised Cost                    6066
Existing Units                 51538
Proposed Units                 50911
Plansets                       37309
TIDF Compliance               198898
Existing Construction Type     43366
Proposed Construction Type     43162
Supervisor District             1717
Zipcode                         1716
Location                        1700
Record ID                          0
dtype: int64
-----------------------Print The Total Missing Count-------------------------------------


The  total count of the missing values is : 1125913

-----------------------Print The Percentage Of Missing Count-------------------------------------

The percentage of missing values:- 22.64279537456008

# 4Q-What is dimension of the dataframe after removing the rows with missing values?Is the dimension same after removing columns with missing values?

In [11]:
# Remove rows with missing values using dropna()
df_cleaned = df.dropna()
# Get the dimensions of the cleaned DataFrame
rows, columns = df_cleaned.shape
print(f"1-Dimension of the DataFrame after removing rows with missing values: {rows} rows x {columns} columns\n")

df_clean = df.dropna(axis=1)#axis =1 for columns or axis =0 for rows
rows, columns =df_clean.shape
column =print('2- The value of row :column after removing columns with missing value :',rows,':',columns,'\n')
if df.shape==column:
    print('3-The shape is same')
else:
    print('3-The shape is different')

1-Dimension of the DataFrame after removing rows with missing values: 198900 rows x 2 columns

2- The value of row :column after removing columns with missing value : 198900 : 2

3-The shape is different

# Q.5) Drop the entirely empty columns and then impute the new dataframe with forward and backward fill. Also, extract the names of the columns that were dropped. Next, obtain a fresh new dataframe and impute the missing values with the mean of the column.

In [5]:
# Find columns with missing values
columns_with_missing_values = df.columns[df.isnull().any()].tolist()
print("1-Columns with missing values:\n")
for column in columns_with_missing_values:
    print(column)
mf = df.dropna(axis=1, how='all')#Drop entirely empty columns
df_ffill=df.ffill()
df_bfill=df.bfill()
print("\n-------------------Dataframe after dropping the columns with empty set---------------------\n")
print(mf.head())
print('\n\n---------------------------------Forward Fill Dataframe------------------------------------\n\n')
print(df_ffill)
print('\n\n----------------------------Backword Fill Dataframe----------------------------------------\n\n')
print(df_bfill)

1-Columns with missing values:

Street Number Suffix
Street Suffix
Unit
Unit Suffix
Number of Existing Stories
Number of Proposed Stories
Estimated Cost
Revised Cost
Existing Units
Proposed Units
Plansets
TIDF Compliance
Existing Construction Type
Proposed Construction Type
Supervisor District
Zipcode
Location

-------------------Dataframe after dropping the columns with empty set---------------------

  Permit Number  Permit Type            Permit Type Definition Block  Lot  \
0      2.02E+11            4                      sign - erect   326   23
1      2.02E+11            4                      sign - erect   306    7
2      2.02E+11            3  additions alterations or repairs   595  203
3      2.02E+11            8            otc alterations permit   156   11
4      2.02E+11            6                       demolitions   342    1

   Street Number Street Number Suffix Street Name Street Suffix  Unit  ...  \
0            140                  NaN       Ellis            St   NaN  ...
1            440                  NaN       Geary            St   0.0  ...
2           1647                  NaN     Pacific            Av   NaN  ...
3           1230                  NaN     Pacific            Av   0.0  ...
4            950                  NaN      Market            St   NaN  ...

  Existing Units  Proposed Units  Plansets  TIDF Compliance  \
0          143.0             NaN       2.0              NaN
1            NaN             NaN       2.0              NaN
2           39.0            39.0       2.0              NaN
3            1.0             1.0       2.0              NaN
4            NaN             NaN       2.0              NaN

   Existing Construction Type  Proposed Construction Type  \
0                         3.0                         NaN
1                         3.0                         NaN
2                         1.0                         1.0
3                         5.0                         5.0
4                         3.0                         NaN

   Supervisor District  Zipcode                                   Location  \
0                  3.0  94102.0  (37.785719256680785, -122.40852313194863)
1                  3.0  94102.0   (37.78733980600732, -122.41063199757738)
2                  3.0  94109.0    (37.7946573324287, -122.42232562979227)
3                  3.0  94109.0   (37.79595867909168, -122.41557405519474)
4                  6.0  94102.0   (37.78315261897309, -122.40950883997789)

      Record ID
0  1.380000e+12
1  1.420000e+12
2  1.420000e+12
3  1.440000e+12
4  1.450000e+11

[5 rows x 25 columns]


---------------------------------Forward Fill Dataframe------------------------------------


       Permit Number  Permit Type            Permit Type Definition Block  \
0           2.02E+11            4                      sign - erect   326
1           2.02E+11            4                      sign - erect   306
2           2.02E+11            3  additions alterations or repairs   595
3           2.02E+11            8            otc alterations permit   156
4           2.02E+11            6                       demolitions   342
...              ...          ...                               ...   ...
198895       M862628            8            otc alterations permit   113
198896      2.02E+11            8            otc alterations permit   271
198897       M863507            8            otc alterations permit  4318
198898       M863747            8            otc alterations permit   298
198899       M864287            8            otc alterations permit   160

         Lot  Street Number Street Number Suffix Street Name Street Suffix  \
0         23            140                  NaN       Ellis            St
1          7            440                  NaN       Geary            St
2        203           1647                  NaN     Pacific            Av
3         11           1230                  NaN     Pacific            Av
4          1            950                  NaN      Market            St
...      ...            ...                  ...         ...           ...
198895  017A           1228                    A  Montgomery            St
198896    14            580                    A        Bush            St
198897    19           1568                    A     Indiana            St
198898    29            795                    A      Sutter            St
198899     6            838                    A     Pacific            Av

        Unit  ... Existing Units  Proposed Units  Plansets  TIDF Compliance  \
0        NaN  ...          143.0             NaN       2.0              NaN
1        0.0  ...          143.0             NaN       2.0              NaN
2        0.0  ...           39.0            39.0       2.0              NaN
3        0.0  ...            1.0             1.0       2.0              NaN
4        0.0  ...            1.0             1.0       2.0              NaN
...      ...  ...            ...             ...       ...              ...
198895   0.0  ...            2.0             2.0       0.0                P
198896   0.0  ...            4.0             4.0       2.0                P
198897   0.0  ...            4.0             4.0       2.0                P
198898   0.0  ...            4.0             4.0       2.0                P
198899   0.0  ...            4.0             4.0       2.0                P

        Existing Construction Type  Proposed Construction Type  \
0                              3.0                         NaN
1                              3.0                         NaN
2                              1.0                         1.0
3                              5.0                         5.0
4                              3.0                         5.0
...                            ...                         ...
198895                         5.0                         5.0
198896                         5.0                         5.0
198897                         5.0                         5.0
198898                         5.0                         5.0
198899                         5.0                         5.0

        Supervisor District  Zipcode  \
0                       3.0  94102.0
1                       3.0  94102.0
2                       3.0  94109.0
3                       3.0  94109.0
4                       6.0  94102.0
...                     ...      ...
198895                  4.0  94116.0
198896                  4.0  94116.0
198897                  4.0  94116.0
198898                  4.0  94116.0
198899                  4.0  94116.0

                                         Location     Record ID
0       (37.785719256680785, -122.40852313194863)  1.380000e+12
1        (37.78733980600732, -122.41063199757738)  1.420000e+12
2         (37.7946573324287, -122.42232562979227)  1.420000e+12
3        (37.79595867909168, -122.41557405519474)  1.440000e+12
4        (37.78315261897309, -122.40950883997789)  1.450000e+11
...                                           ...           ...
198895   (37.74976582284573, -122.48824447038214)  1.490000e+12
198896   (37.74976582284573, -122.48824447038214)  1.490000e+12
198897   (37.74976582284573, -122.48824447038214)  1.490000e+12
198898   (37.74976582284573, -122.48824447038214)  1.490000e+12
198899   (37.74976582284573, -122.48824447038214)  1.490000e+12

[198900 rows x 25 columns]


----------------------------Backword Fill Dataframe----------------------------------------


       Permit Number  Permit Type            Permit Type Definition Block  \
0           2.02E+11            4                      sign - erect   326
1           2.02E+11            4                      sign - erect   306
2           2.02E+11            3  additions alterations or repairs   595
3           2.02E+11            8            otc alterations permit   156
4           2.02E+11            6                       demolitions   342
...              ...          ...                               ...   ...
198895       M862628            8            otc alterations permit   113
198896      2.02E+11            8            otc alterations permit   271
198897       M863507            8            otc alterations permit  4318
198898       M863747            8            otc alterations permit   298
198899       M864287            8            otc alterations permit   160

         Lot  Street Number Street Number Suffix Street Name Street Suffix  \
0         23            140                    A       Ellis            St
1          7            440                    A       Geary            St
2        203           1647                    A     Pacific            Av
3         11           1230                    A     Pacific            Av
4          1            950                    A      Market            St
...      ...            ...                  ...         ...           ...
198895  017A           1228                  NaN  Montgomery            St
198896    14            580                  NaN        Bush            St
198897    19           1568                  NaN     Indiana            St
198898    29            795                  NaN      Sutter            St
198899     6            838                  NaN     Pacific            Av

        Unit  ... Existing Units  Proposed Units  Plansets  TIDF Compliance  \
0        0.0  ...          143.0            39.0       2.0                Y
1        0.0  ...           39.0            39.0       2.0                Y
2        0.0  ...           39.0            39.0       2.0                Y
3        0.0  ...            1.0             1.0       2.0                Y
4        0.0  ...          326.0           326.0       2.0                Y
...      ...  ...            ...             ...       ...              ...
198895   NaN  ...            4.0             4.0       2.0              NaN
198896   NaN  ...            4.0             4.0       2.0              NaN
198897   NaN  ...            NaN             NaN       NaN              NaN
198898   NaN  ...            NaN             NaN       NaN              NaN
198899   NaN  ...            NaN             NaN       NaN              NaN

        Existing Construction Type  Proposed Construction Type  \
0                              3.0                         1.0
1                              3.0                         1.0
2                              1.0                         1.0
3                              5.0                         5.0
4                              3.0                         1.0
...                            ...                         ...
198895                         5.0                         5.0
198896                         5.0                         5.0
198897                         NaN                         NaN
198898                         NaN                         NaN
198899                         NaN                         NaN

        Supervisor District  Zipcode  \
0                       3.0  94102.0
1                       3.0  94102.0
2                       3.0  94109.0
3                       3.0  94109.0
4                       6.0  94102.0
...                     ...      ...
198895                  NaN      NaN
198896                  NaN      NaN
198897                  NaN      NaN
198898                  NaN      NaN
198899                  NaN      NaN

                                         Location     Record ID
0       (37.785719256680785, -122.40852313194863)  1.380000e+12
1        (37.78733980600732, -122.41063199757738)  1.420000e+12
2         (37.7946573324287, -122.42232562979227)  1.420000e+12
3        (37.79595867909168, -122.41557405519474)  1.440000e+12
4        (37.78315261897309, -122.40950883997789)  1.450000e+11
...                                           ...           ...
198895                                        NaN  1.490000e+12
198896                                        NaN  1.490000e+12
198897                                        NaN  1.490000e+12
198898                                        NaN  1.490000e+12
198899                                        NaN  1.490000e+12

[198900 rows x 25 columns]

In [6]:
import numpy as np
import pandas as pd

print('Taking The Forward Fill Data')
df_new=df.ffill()
print('Impute The Missing Values With The Mean Of The Column.')
new_df = df_new.fillna(df.mean())
print("New DataFrame with missing values imputed by column mean:")
print(new_df)

Taking The Forward Fill Data
Impute The Missing Values With The Mean Of The Column.
New DataFrame with missing values imputed by column mean:
       Permit Number  Permit Type            Permit Type Definition Block  \
0           2.02E+11            4                      sign - erect   326
1           2.02E+11            4                      sign - erect   306
2           2.02E+11            3  additions alterations or repairs   595
3           2.02E+11            8            otc alterations permit   156
4           2.02E+11            6                       demolitions   342
...              ...          ...                               ...   ...
198895       M862628            8            otc alterations permit   113
198896      2.02E+11            8            otc alterations permit   271
198897       M863507            8            otc alterations permit  4318
198898       M863747            8            otc alterations permit   298
198899       M864287            8            otc alterations permit   160

         Lot  Street Number Street Number Suffix Street Name Street Suffix  \
0         23            140                  NaN       Ellis            St
1          7            440                  NaN       Geary            St
2        203           1647                  NaN     Pacific            Av
3         11           1230                  NaN     Pacific            Av
4          1            950                  NaN      Market            St
...      ...            ...                  ...         ...           ...
198895  017A           1228                    A  Montgomery            St
198896    14            580                    A        Bush            St
198897    19           1568                    A     Indiana            St
198898    29            795                    A      Sutter            St
198899     6            838                    A     Pacific            Av

             Unit  ... Existing Units  Proposed Units  Plansets  \
0       78.517182  ...          143.0        16.51095       2.0
1        0.000000  ...          143.0        16.51095       2.0
2        0.000000  ...           39.0        39.00000       2.0
3        0.000000  ...            1.0         1.00000       2.0
4        0.000000  ...            1.0         1.00000       2.0
...           ...  ...            ...             ...       ...
198895   0.000000  ...            2.0         2.00000       0.0
198896   0.000000  ...            4.0         4.00000       2.0
198897   0.000000  ...            4.0         4.00000       2.0
198898   0.000000  ...            4.0         4.00000       2.0
198899   0.000000  ...            4.0         4.00000       2.0

        TIDF Compliance  Existing Construction Type  \
0                   NaN                         3.0
1                   NaN                         3.0
2                   NaN                         1.0
3                   NaN                         5.0
4                   NaN                         3.0
...                 ...                         ...
198895                P                         5.0
198896                P                         5.0
198897                P                         5.0
198898                P                         5.0
198899                P                         5.0

        Proposed Construction Type  Supervisor District  Zipcode  \
0                         4.089529                  3.0  94102.0
1                         4.089529                  3.0  94102.0
2                         1.000000                  3.0  94109.0
3                         5.000000                  3.0  94109.0
4                         5.000000                  6.0  94102.0
...                            ...                  ...      ...
198895                    5.000000                  4.0  94116.0
198896                    5.000000                  4.0  94116.0
198897                    5.000000                  4.0  94116.0
198898                    5.000000                  4.0  94116.0
198899                    5.000000                  4.0  94116.0

                                         Location     Record ID
0       (37.785719256680785, -122.40852313194863)  1.380000e+12
1        (37.78733980600732, -122.41063199757738)  1.420000e+12
2         (37.7946573324287, -122.42232562979227)  1.420000e+12
3        (37.79595867909168, -122.41557405519474)  1.440000e+12
4        (37.78315261897309, -122.40950883997789)  1.450000e+11
...                                           ...           ...
198895   (37.74976582284573, -122.48824447038214)  1.490000e+12
198896   (37.74976582284573, -122.48824447038214)  1.490000e+12
198897   (37.74976582284573, -122.48824447038214)  1.490000e+12
198898   (37.74976582284573, -122.48824447038214)  1.490000e+12
198899   (37.74976582284573, -122.48824447038214)  1.490000e+12

[198900 rows x 25 columns]

C:\Users\sanya\AppData\Local\Temp\ipykernel_24508\667506766.py:7: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  new_df = df_new.fillna(df.mean())

# Q.6) Calculate the mean and median for the estimated cost and revised cost. What is your observation?

In [7]:
import numpy as np
import pandas as pd

df = pd.read_csv('Building_Permits.csv',low_memory=False)
mean_A = df['Estimated Cost'].mean()
median_A = df['Estimated Cost'].median()

# Calculate the mean and median of column 'B'
mean_B = df['Revised Cost'].mean()
median_B = df['Revised Cost'].median()

print("1-Mean of column 'Estimated Cost':", mean_A)
print("2-Median of column 'Estimated Cost':", median_A)

print("1-Mean of column 'Revised Cost':", mean_B)
print("2-Median of column 'Revised Cost':", median_B)

1-Mean of column 'Estimated Cost': 168955.44329681536
2-Median of column 'Estimated Cost': 11000.0
1-Mean of column 'Revised Cost': 132856.1864917494
2-Median of column 'Revised Cost': 7000.0

Observation- 

Here we can see the mean and median are not close to each other that means it is not a symmetrical distribution.

# Q.7) Create a new cleaned dataframe after applying backward/forward fill with two column names only, namely the Revised cost and the Estimated Cost. Transform the dataframe using the following normalization techniques: min-max scaling and z-score.

In [9]:
from sklearn.preprocessing import MinMaxScaler ,StandardScaler
# Perform forward fill for columns 'A' and 'B'
df['Revised Cost'].fillna(method='ffill', inplace=True)
df['Estimated Cost'].fillna(method='ffill', inplace=True)

# Print the updated DataFrame
df = df[['Revised Cost', 'Estimated Cost']]
print ('A New Cleaned Dataframe After Applying Forward Fill\n')
print('---------------------------------------------------------------------------------------\n')
print(df)
print('---------------------------------------------------------------------------------------\n')

scaler = MinMaxScaler()
min_max_normal=scaler.fit_transform(df)
max_min_scaler =pd.DataFrame(min_max_normal, columns=['Revised Cost (Min-Max)','Estimated Cost (Min-Max)'])
print('Min-Max Scaled Data Frame is :-\n',max_min_scaler)
print('---------------------------------------------------------------------------------------\n')

z_scaler= StandardScaler()
z_normal =z_scaler.fit_transform(df)
z_scaled = pd.DataFrame(z_normal,columns=['Revised Cost (z-score)','Estimated Cost (z-score)'])
print('Z-Score Scaled Data Frame is :-\n',z_scaled)

A New Cleaned Dataframe After Applying Forward Fill

---------------------------------------------------------------------------------------

        Revised Cost  Estimated Cost
0             4000.0          4000.0
1              500.0             1.0
2              500.0         20000.0
3             2000.0          2000.0
4           100000.0        100000.0
...              ...             ...
198895           1.0          7400.0
198896        5000.0          5000.0
198897           1.0          5000.0
198898           1.0          5000.0
198899           1.0          5000.0

[198900 rows x 2 columns]
---------------------------------------------------------------------------------------

Min-Max Scaled Data Frame is :-
         Revised Cost (Min-Max)  Estimated Cost (Min-Max)
0                 5.124920e-06                  0.000007
1                 6.406150e-07                  0.000000
2                 6.406150e-07                  0.000037
3                 2.562460e-06                  0.000004
4                 1.281230e-04                  0.000186
...                        ...                       ...
198895            1.281230e-09                  0.000014
198896            6.406150e-06                  0.000009
198897            1.281230e-09                  0.000009
198898            1.281230e-09                  0.000009
198899            1.281230e-09                  0.000009

[198900 rows x 2 columns]
---------------------------------------------------------------------------------------

Z-Score Scaled Data Frame is :-
         Revised Cost (z-score)  Estimated Cost (z-score)
0                    -0.035858                 -0.040769
1                    -0.036849                 -0.041708
2                    -0.036849                 -0.037014
3                    -0.036424                 -0.041238
4                    -0.008670                 -0.018241
...                        ...                       ...
198895               -0.036990                 -0.039971
198896               -0.035574                 -0.040534
198897               -0.036990                 -0.040534
198898               -0.036990                 -0.040534
198899               -0.036990                 -0.040534

[198900 rows x 2 columns]